@media only screen and (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    text-align: center;
  }
  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }
  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }
}

@media only screen and (max-width: 767px) {
  header .navbar-collapse {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }

  header .navbar-default .navbar-collapse li {
    padding: 0;
    margin-right: 10px;
  }

  header .navbar-default .navbar-collapse li a {
    padding: 0;
    line-height: 1.53;
    text-align: right;
  }

  .navbar-nav {
    margin: 0;
  }

  header .navbar-brand {
    width: 60%;
    position: relative;
    top: 7px;
  }
  .heading {
    padding-left: 0px;
  }
  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }
  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }
  footer .footer-menu ul li {
    font-size: 14px;
    padding: 0 12px;
  }
}
